
body .index {	
	background-color: black; 
}
.awal {
	background-color: rgba(173, 216, 230,0.6);
	margin-right: 31%;
	margin-left: 31%;
	border-radius: 20px;
	margin-top: 110px;
}
.header {
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
	background-color: #FAEBD7;
}
.pendataan {
	font-family: cursive;
	font-size: 30px;
}
.tinfor{
	font-family: monospace;
	font-size: 20px;
	color: #DD0000;
}
.foto {
	border: 3px;
	color: rgba(173, 216, 230,0.6);
}
body input{
	border-radius: 10px;
}
.judul{
	font-size: 50px;
	text-align: center;
	font-family: fantasy;
	margin-top: 10px;
	margin-bottom: 50px;
}
.foto img {	
	border-radius: 200px;
	margin-top: -100; 
}

.ketengah {	
	text-align: center; 
}
 .daftar a:hover{
 	color: red;
 }
  .daftar a:visited{
 	color: red;
 }
 .daftar a:link{
 	color: red;
 }
  .daftar a:active{
 	color: red;
 }

  .data a:hover{
 	color: red;
 }
  .data a:visited{
 	color: red;
 }
 .data a:link{
 	color: red;
 }
  .data a:active{
 	color: red;
 }
 .data a{
 	font-size: 20px;
 }
 .daftar a{
 	font-size: 20px;
 }

.daftar{
	color: red;
	margin-left: 80px;
	float: left;
	background-color: black;
	padding: 5px;
	padding-right: 25px;
	padding-left: 25px;
	border-radius: 3px;
}
.data{
	margin-right: 80px;
	float: right;
	background-color: black;
	padding: 5px;
	padding-right: 35px;
	padding-left: 35px;
	border-radius: 3px;
}
.tulisan{
	font-family: cursive;
}