body{
	font-family: initial;
	background-color: lightblue;
	text-align: center;
	color: green;
}
body .index{
	background-color: black;
}
.foto img{
	border-radius: 30%;

}
.pinggirk{
	
}
.ketengah{
	text-align: center;

}
 
@font-face {
        font-family: tulisan_keren;
        src: url(arvo.ttf);
}

@font-face {
        font-family: tulisan_bawah;
        src: url(co.ttf);
}
 
h3{
	font-family: 'tulisan_keren';
	font-size: 40pt;
	color: green;
}
h4{
	font-family: 'tulisan_bawah';
	font-size: 15pt;
}